   body {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.87);
      background-color: #e4e3e3;
    }

    paper-dialog {
      width: 50%;
      min-width: 430px;
    }

    p {
      margin-bottom: 0;
    }

    paper-dialog paper-button {
      font-weight: bold;
    }

    paper-button[autofocus] {
      color: #4285f4;
    }

    #timeDisplay {
      font-size: 30vw;
    }

    #taglineDisplay {
      font-size: 5vw;
    }

    #controls {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }

    #logo {
      position: absolute;
      width: 175px;
      bottom: 10px;
      left: 15px;
    }

    .transition {
      color: #1fbc24;
    }

    .climb {
      color: #000000;
    }

    .warning {
      color: #f0120b;
    }
